<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Architecture checklist</h5>
        <p class="grey-text text-lighten-4">Use this interactive guide to find an architecture which fits your needs.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://12factor.net/">The twelve factor app</a></li>
          <li><a class="grey-text text-lighten-3" href="https://books.google.de/books/about/Patterns_of_enterprise_application_archi.html?id=FyWZt5DdvFkC&redir_esc=y">Patterns of Enterprise Application Architecture</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Christian Götze
      <a class="grey-text text-lighten-4 right">Work in progress</a>
    </div>
  </div>
</footer>