<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Principles and best practices of good software architecture</h5>
        <p class="grey-text text-lighten-4">This list has been created for educational purposes.</p>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Christian Götze
      <a class="grey-text text-lighten-4 right">Work in progress</a>
    </div>
  </div>
</footer>