  :host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .next-item, .prev-item{
    cursor: pointer;
    color: teal;
    opacity: 0.5;
  }